__pycache__
cmake-build-debug 
cmake-build-release
cmake-build-remote
*.idea*
*.csv
*.nvprof
.metadata
*.log
RemoteSystemsTempFile
*.project
CMakeFiles
CMakeCache.txt
build
*ninja
*egg*
*.o
*.ninja_deps
*.so
*.pkl
*.pt
*.parq
*.pyc
*.png
__pycache__
build/temp.linux-x86_64-3.7
*.pdf